html{}

body{
    margin: 0;
    background-color: #D53531;
    font-family: 'Geosans Light',sans-serif;
    color: #fff;
    /*turn off overflow to debug the works page*/
    overflow: hidden;
}
.wrapper{
    width: 60%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    top: 240px;
    max-width: 680px;
    display: flex;
}

.alpha{
    position: absolute;
    width: 30%;
    max-width: 180px;
    left: 50%;
    margin-left: -15%;
    animation: the-fade 3s 1;
    transform: scale(0)
}
.logo{ 
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
}
 
.hex-R{
    position: absolute;
    animation: the-foreward 3s 1;
    transform: translateX(-200px)
}
.hex-E{
    position: absolute;
}
.hex-D{
    animation: the-reverse 3s 1;
    transform: translateX(200px)
}

@keyframes the-foreward {
    0%{transform: translateX(0)}
    20%{transform: translateX(0)}
    100%{transform: translateX(-200px)}
}
@keyframes the-reverse {
    0%{transform: translateX(0)}
    20%{transform: translateX(0)}
    100%{transform: translateX(200px)}
}
@keyframes the-fade {
    0%{transform: scale(1) translateY(0);}
    20%{transform: scale(1) translateY(0);}
    40%{transform: scale(0) translateY(-100px);}
    100%{transform: scale(0)translateY(-100px);}
}



.wrapper3{
    position: relative;
    display: flex;
    top: 300px;
    max-height: 100px;
}
.container{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    max-width: 680px;
    font-size: 3em;
    margin-right: 40px;
}
.menu-button{
    border-width: 10px;
    margin: 0;
    border-style: solid;
    text-align: center;
    font-weight: normal;
    transform: scale(1);
    transition: all .4s;
    flex-grow: 1;
    max-width: 280px;
    min-width: 130px;
    
}
.menu-button:hover{ 
    transition: all .4s;
    transform: scale(1.04);
    z-index: 11;
}
h2{
    margin: 0;
    text-align: center;
    font-weight: normal;
}
a{
    color: #fff;
    text-decoration: none;
}

.beta{
    width: 100px;
    transform: scale(1);
    transition: all .4s;
    align-self: center;
    position: relative;
    z-index: 10;
}
.contact{
    display: none;
    position: absolute;
}
.beta:hover{
    transition: all .4s;
    transform: scale(1.06);
    z-index: 11;
}
.beta:hover + .contact{
    display: inline;
    position: relative;
    left: -100px;
}
.contact:hover{
    display: inline;
    position: relative;
    left: -100px;
}

.beta:hover + .contact .behance{
    animation: behance-extend 1s 1;
}
.beta:hover + .contact .linkedin{
    animation: linkedin-extend 1s 1;
}
.beta:hover + .contact .mail{
    animation: mail-extend 1s 1;
}

.contact:hover .behance{
    transform: translateX(50px);
    top: -85px;
}
.contact:hover .linkedin{
    transform: translateX(100px);
}
.contact:hover .mail{
    transform: translateX(50px);
    top: 85px;
}

.behance{
    position: absolute;  
    transform: translateX(50px);
    z-index: 5;
    top: -85px;
}
.linkedin{
    position: absolute; 
    transform: translateX(100px);
    z-index: 5;
}
.mail{
    position: absolute;
    top: 85px; 
    transform: translateX(50px);
    z-index: 5;
}

@keyframes behance-extend {
    0%{top: 0; transform: translateX(0)}
    5%{ top: 0;transform: translateX(0)}
    100%{ top: 0;transform: translateY(-85px) translateX(50px);}
}
@keyframes linkedin-extend {
    0%{transform: translateX(0)}
    5%{transform: translateX(0)}
    100%{transform: translateX(100px);}
}
@keyframes mail-extend {
    0%{top: 0; transform: translateX(0)}
    5%{top: 0; transform: translateX(0)}
    100%{top: 0; transform: translateY(85px) translateX(50px);}
}



header{
    width: 70vw;
    height: 100px;
    position: fixed;
    left: 50%;
    margin: 0 auto;
    margin-left: -35vw;
    top: 15px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    font-size: 1.5em;
}

.delta{
    position: absolute;
    height: inherit;
    max-width: 90px;
    z-index: 20;
    transform: scale(0);
    animation: the-disappear 2s 1;
}

.mini-logo{
    width: 290px;
    z-index: 1;
}

.lil-R{
    height: 100px;
    width: 93px;
    z-index: 1;
}
.lil-E{
    height: 100px;
    width: 93px;
    z-index: 1;
    transform: translateX(0);
    animation: the-extend 2s 1;
}
.lil-D{
    height: 100px;
    width: 93px;
    transform: translateX(10px);
    position: absolute;
    z-index: 1;
    animation: the-double-extend 2s;
}

@keyframes the-extend {
    0%{transform: translateX(-100px)}
    15%{transform: translateX(-100px)}
    100%{transform: translateX(0)}
}
@keyframes the-double-extend {
    0%{transform: translateX(-195px)}
    15%{transform: translateX(-195px)}
    100%{transform: translateX(10px)}
}
@keyframes the-disappear {
    0%{transform: scale(1) translateY(0);}
    15%{transform: scale(1) translateY(0);}
    100%{transform: scale(0)translateY(-20px);}
}


.wrapper2{
    display: flex;
    justify-content: flex-end;
    max-height: 65px;
    align-self: center;
}

.omega{
    transform: scale(1);
    transition: all .4s;
    width: 60px;
    margin-left: 25px;
    align-self: center;
    z-index: 10;
}
.contact2{
     display: none;
    position: absolute;
}
.omega:hover{
    transition: all .4s;
    transform: scale(1.06);
    z-index: 11;   
}
.omega:hover + .contact2{
    display: inline;
    position: relative;
    top: -15px;
    left: -90px;

}
.contact2:hover{
    display: inline;
    position: relative;
    top: -15px;
    left: -90px;
}

.omega:hover + .contact2 .behance2{
    animation: lil-behance-extend 1s 1;
}
.omega:hover + .contact2 .linkedin2{
    animation: lil-linkedin-extend 1s 1;
}
.omega:hover + .contact2 .mail2{
    animation: lil-mail-extend 1s 1;
}

.contact2:hover .behance2{
    transform: translateX(35px);
    top: 60px;
}
.contact2:hover .linkedin2{
    transform: translateX(-35px);
    top: 60px;
}
.contact2:hover .mail2{
    top: 120px;
}

.behance2{
    position: absolute;  
    transform: translateX(35px);
    top: 60px; 
    z-index: 5;
}
.linkedin2{
    position: absolute; 
    transform: translateX(-35px);
    top: 60px; 
    z-index: 5;
}
.mail2{
    position: absolute;
    top: 120px;
    z-index: 5;
}

@keyframes lil-behance-extend {
    0%{top: 0; transform: translateX(0)}
    5%{ top: 0;transform: translateX(0)}
    100%{ top: 0;transform: translateY(60px) translateX(35px);}
}
@keyframes lil-linkedin-extend {
    0%{top: 0; transform: translateX(0)}
    5%{top: 0; transform: translateX(0)}
    100%{transform: transklateY(60px) translateX(-35px);}
}
@keyframes lil-mail-extend {
    0%{top: 0; transform: translateX(0)}
    5%{top: 0; transform: translateX(0)}
    100%{top: 0; transform: translateY(120px) translateX(0);}
}




main{
    position: absolute;
    overflow: hidden;
    background: #D53531;
    width: 200vw;
    height: 1600px;
    z-index: -10;
    max-width: 2600px;/*prevents the page from becoming too wide, however it does break the categories centering as larger window sizes*/
}
#categories{
    position: absolute;
    top: 300px;
    height: 1100px;
    width: 50%;
    left: 50%;
    margin-left: -25%;
}
.web{
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: -465px;
    z-index: 5;
}
.print{
    position: absolute;
    top: 150px;
    left: 50%;
    margin-left: 15px;
    z-index: 5;
}
.process{
    position: absolute;
    left: 50%;
    margin-left: -225px;
    height: 500px;
    top: 550px;
    z-index: 5;
}


#web{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10%;
    top: 100px;
}
#print{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
    top: 75px;
}
.web-container{
    width: 100vw;
    height: 900px;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 1300px;
    transform: scale(1);
}
.print-container{
    width: 95vw;
    height: 900px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: scale(1);
}
#process{
    height: 100px;
    
    position:absolute;
    top: 1500px;
    width: 100vw;
    left: 50%;
    margin-left: -25%;
}

.clip-polygon {
	width: 450px;
	height: 500px;
    background-color: #F54238;
	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* need javascript to make a smooth transition to the categories*/

.category{
    transform: scale(1);
    transition: all .4s;
}
/*whenever a category is hovered over an overlay comes over it and displays the same of the category*/
.category:hover{
    transition: all .4s;
    transform: scale(1.1);
    z-index: 30;
}
.hidden{
    display: none;
}
.show{
   display: inline;
    animation: pop-up .6s 1;
}
.non-selected{

}

object{
    transform: scale(1);
    transition: all .4s;
    position: absolute;
    width: 180px;
    height: 200px;
    background-color: #F54238;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 20;
}
object:hover{
    transition: all .4s;
    transform: scale(1.2);
    z-index: 11;
}

.row1{top: 524px;}
.row2{top: 350px;}
.row3{top: 180px;}
.row4{top: 80px;}
.row5{top: 690px;}

.column1{right: 590px;}
.column2{right: 390px;}
.column3{right: 490px;}
/*figure out a way to control the animation delay from the column to make them pop up at different times*/
.column4{left: 485px;}
.column5{left: 590px;}
.column6{left: 690px;}
.column7{left: 790px;}
.column8{left: 930px;}
.column9{left: 380px;}

project{
    width: 180px;
    height: 200px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes pop-up {
    0%{ transform: scale(0)}
    80%{ transform: scale(1.1)}
    100%{ transform: scale(1);}
}




/*figure out where this site breaks after fixing the responsive columns and rows.*/
@media screen and (min-width: 1400px) {

    header{
        margin-left: -500px;
        width: 1000px;
    }
}















/*
font-family: 'Exo 2', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Geosans Light', sans-serif;
font-family: 'Bitter', serif;


red
#F54238
darker red
#D53531