html{}

body{
    margin: 0;
    background-color: #F54238;
    font-family: 'Geosans Light',sans-serif;
    color: #fff;
}

.wrapper{
    width: 60%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    top: 240px;
    max-width: 680px;
    display: flex;
}

.alpha{
    position: absolute;
    width: 30%;
    max-width: 180px;
    left: 50%;
    margin-left: -15%;
    
}

.burrito{
    position: relative;
    
    display: flex;
    top: 300px;
    max-height: 100px;
}
.chicken{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    max-width: 680px;
    font-size: 3em;
    margin-right: 40px;
}
.lettuce{
    border-width: 10px;
    margin: 0;
    border-style: solid;
    text-align: center;
    font-weight: normal;
    transform: scale(1);
    transition: all .4s;
    flex-grow: 1;
    min-width: 160px;
    
}
.lettuce:hover{
    background-color:  #D53531; 
    transition: all .4s;
    transform: scale(1.03);
    z-index: 11;
}
.space{
    flex-grow: 1;
    min-width: 40px;
    max-width: 100px;
}
h2{
    
    margin: 0;
    text-align: center;
    font-weight: normal;
}
a{
    color: #fff;
    text-decoration: none;
}

.beta{
    width: 100px;
    transform: scale(1);
    transition: all .4s;
    align-self: center;
    position: relative;
}
.contact{
    display: none;
    position: relative;
    
}
.beta:hover{
    transition: all .4s;
    transform: scale(1.06);
    z-index: 11;
}
.beta:hover + .contact{
    display: inline;
    position: absolute;
    
}

.behance{
    top: -99px;
}
.linkedin{
    top: -195px;
}
.mail{
    
}





header{
    width: 70vw;
    height: 100px;
    position: absolute;
    left: 50%;
    margin: 0 auto;
    margin-left: -35vw;
    top: 15px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    font-size: 1.5em;
}

.delta{
    position: relative;
    width: 15%;
    height: inherit;
    max-width: 90px;
}

.tortilla{
    display: flex;
    justify-content: flex-end;
    max-height: 65px;
    align-self: center;
}
.omega{
    transform: scale(1);
    transition: all .4s;
    width: 60px;
    margin-left: 30px;
    align-self: center;
}
.omega:hover{
    transition: all .4s;
    transform: scale(1.06);
    z-index: 11;   
}
















@media screen and (min-width: 1400px) {

    header{
        margin-left: -500px;
        width: 1000px;
    }
}















/*
font-family: 'Exo 2', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Geosans Light', sans-serif;
font-family: 'Bitter', serif;


red
#F54238
darker red
#D53531