html{}
*{
  box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #D53531;
    font-family: 'Oxygen',sans-serif;
    color: #fff;
    /*turn off overflow to debug the works page
    overflow: hidden;*/
}
.wrapper{
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: 240px;
    max-width: 800px;
}

.alpha{
    display: block;
    margin: 0 auto;
    animation: alpha-shrink 6s 1;
    -webkit-animation: alpha-shrink 6s 1;
    width: 0;
}
.logo{ 
    display: flex;
    display: -webkit-flex;/*can i use says that i dont need webkit, but it seems like i do why?*/
    justify-content: center;
    width: 100%;
    max-width: 578px;
    margin: 0 auto;
    margin-top: -200px;
}
.logo svg + svg{
    margin-left: 10px;
}
.logo svg{
    width: 100%;
    max-width: 175px;
}
.hex-R{
    position: relative;
    animation: R-extend 6s 1;
    -webkit-animation: R-extend 6s 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}
.hex-E{}
.hex-D{
    position: relative;
    animation: D-extend 6s 1;
    -webkit-animation: D-extend 6s 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

@keyframes R-extend {
    0%, 25%{transform: translateX(107%);}
    50%, 100%{transform: translateX(0);}
}
@keyframes D-extend {
    0%, 25%{transform: translateX(-107%);}
    50%, 100%{transform: translateX(0);}
}
@keyframes alpha-shrink {
    0%, 25%{width: 100%; transform: translateY(0);}
    35%, 100%{width: 0;transform: translateY(-4%);}
}
@-webkit-keyframes R-extend {
    0%, 25%{-webkit-transform: translateX(107%);}
    50%, 100%{-webkit-transform: translateX(0);}
}
@-webkit-keyframes D-extend {
    0%, 25%{-webkit-transform: translateX(-107%);}
    50%, 100%{-webkit-transform: translateX(0);}
}
@-webkit-keyframes alpha-shrink {
    0%, 25%{width: 100%; -webkit-transform: translateY(0);}
    35%, 100%{width: 0; -webkit-transform: translateY(-4%);}
}


nav{
    position: relative;
    display: flex;
    display: -webkit-flex;
    margin-top: 150px;
    max-height: 100px;
}
.container{
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    max-width: 600px;
    font-size: 3em;
}

.menu-button{
    border-width: 10px;
    margin: 0;
    border-style: solid;
    text-align: center;
    font-weight: normal;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .4s;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    max-width: 280px;
    min-width: 130px;
    
}
.menu-button:hover{ 
    transition: all .4s;
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    z-index: 11;
}
h2{
    margin: 0;
    text-align: center;
    font-weight: normal;
}
a{
    color: #fff;
    text-decoration: none;
}

.beta{
    width: 100px;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .4s;
    align-self: center;
    position: absolute;
    z-index: 10;
    margin-left: -50px
    
}
.contact{
    display: none;
    position: absolute;
}
.beta:hover{
    transition: all .4s;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    z-index: 11;
}
.beta:hover + .contact{
    display: inline;
    position: relative;
}
.contact:hover{
    display: inline;
}

.beta:hover + .contact .behance{
    animation: behance-extend 1s 1;
    -webkit-animation: behance-extend 1s 1;
}
.beta:hover + .contact .linkedin{
    animation: linkedin-extend 1s 1;
    -webkit-animation: linkedin-extend 1s 1;
}
.beta:hover + .contact .mail{
    animation: mail-extend 1s 1;
    -webkit-animation: mail-extend 1s 1;
}

.contact:hover .behance{
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    top: -85px;
}
.contact:hover .linkedin{
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
}
.contact:hover .mail{
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    top: 85px;
}

.behance{  
    position: absolute;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    z-index: 5;
    top: -85px;
}
.linkedin{ 
    position: absolute;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    z-index: 5;
}
.mail{
    position: absolute;
    top: 85px; 
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    z-index: 5;
}

@keyframes behance-extend {
    0%, 5%{top: 0; transform: translateX(0)}
    100%{ top: -85px;transform: translateY(0) translateX(50px);}
}
@keyframes linkedin-extend {
    0%, 5%{transform: translateX(0)}
    100%{transform: translateX(100px);}
}
@keyframes mail-extend {
    0%, 5%{top: 0; transform: translateX(0)}
    100%{top: 0; transform: translateY(85px) translateX(50px);}
}
@-webkit-keyframes behance-extend {
    0%, 5%{top: 0; -webkit-transform: translateX(0)}
    100%{ top: -85px; -webkit-transform: translateY(0) translateX(50px);}
}
@-webkit-keyframes linkedin-extend {
    0%, 5%{-webkit-transform: translateX(0)}
    100%{-webkit-transform: translateX(100px);}
}
@-webkit-keyframes mail-extend {
    0%, 5%{top: 0; -webkit-transform: translateX(0)}
    100%{top: 0; -webkit-transform: translateY(85px) translateX(50px);}
}




header{
    width: 70vw;
    height: 100px;
    position: fixed;
    left: 50%;
    margin: 0 auto;
    margin-left: -35vw;
    top: 15px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    font-size: 1.5em;
}

.delta{
    position: absolute;
    height: inherit;
    max-width: 90px;
    z-index: 20;
    transform: scale(0);
    animation: the-disappear 2s 1;
}

.mini-logo{
    width: 290px;
    z-index: 1;
}

.lil-R{
    height: 100px;
    width: 93px;
    z-index: 1;
}
.lil-E{
    height: 100px;
    width: 93px;
    z-index: 1;
    transform: translateX(0);
    animation: the-extend 2s 1;
}
.lil-D{
    height: 100px;
    width: 93px;
    transform: translateX(10px);
    position: absolute;
    z-index: 1;
    animation: the-double-extend 2s;
}

@keyframes the-extend {
    0%{transform: translateX(-100px)}
    15%{transform: translateX(-100px)}
    100%{transform: translateX(0)}
}
@keyframes the-double-extend {
    0%{transform: translateX(-195px)}
    15%{transform: translateX(-195px)}
    100%{transform: translateX(10px)}
}
@keyframes the-disappear {
    0%{transform: scale(1) translateY(0);}
    15%{transform: scale(1) translateY(0);}
    100%{transform: scale(0)translateY(-20px);}
}


.wrapper2{
    display: flex;
    justify-content: flex-end;
    max-height: 65px;
    align-self: center;
}

.omega{
    transform: scale(1);
    transition: all .4s;
    width: 60px;
    margin-left: 25px;
    align-self: center;
    z-index: 10;
}
.contact2{
     display: none;
    position: absolute;
}
.omega:hover{
    transition: all .4s;
    transform: scale(1.06);
    z-index: 11;   
}
.omega:hover + .contact2{
    display: inline;
    position: relative;
    top: -15px;
    left: -90px;

}
.contact2:hover{
    display: inline;
    position: relative;
    top: -15px;
    left: -90px;
}

.omega:hover + .contact2 .behance2{
    animation: lil-behance-extend 1s 1;
}
.omega:hover + .contact2 .linkedin2{
    animation: lil-linkedin-extend 1s 1;
}
.omega:hover + .contact2 .mail2{
    animation: lil-mail-extend 1s 1;
}

.contact2:hover .behance2{
    transform: translateX(35px);
    top: 60px;
}
.contact2:hover .linkedin2{
    transform: translateX(-35px);
    top: 60px;
}
.contact2:hover .mail2{
    top: 120px;
}

.behance2{
    position: absolute;  
    transform: translateX(35px);
    top: 60px; 
    z-index: 5;
}
.linkedin2{
    position: absolute; 
    transform: translateX(-35px);
    top: 60px; 
    z-index: 5;
}
.mail2{
    position: absolute;
    top: 120px;
    z-index: 5;
}

@keyframes lil-behance-extend {
    0%{top: 0; transform: translateX(0)}
    5%{ top: 0;transform: translateX(0)}
    100%{ top: 0;transform: translateY(60px) translateX(35px);}
}
@keyframes lil-linkedin-extend {
    0%{top: 0; transform: translateX(0)}
    5%{top: 0; transform: translateX(0)}
    100%{transform: transklateY(60px) translateX(-35px);}
}
@keyframes lil-mail-extend {
    0%{top: 0; transform: translateX(0)}
    5%{top: 0; transform: translateX(0)}
    100%{top: 0; transform: translateY(120px) translateX(0);}
}




main{
    position: absolute;
    overflow: hidden;
    background: #D53531;
    width: 300vw;
    z-index: -10;
    max-width: 2900px;
}

#categories{
    width: 100vw;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    padding: .75%;
}
.hexagon{
    width: 50%;
    padding: 1.5%;
}
.hexagon div{
    padding-bottom: 110%;
    height: 0;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon div:hover{
    transition: all .4s;
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
}
#web{
    background-image: url('http://lorempixel.com/500/200');
}
#print{
    background-image: url('http://lorempixel.com/500/200');
}
#process{
    background-image: url('http://lorempixel.com/500/200');
}
.hexagon + .hexagon + .hexagon{
    margin-top: -13%;
}
#viewport{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    z-index: -20;
}







.web-container{
    width: 100vw;
    height: 900px;
    
    left: 0;
    top: 0;
    max-width: 1300px;
    transform: scale(1);
}
.print-container{
    width: 95vw;
    height: 900px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: scale(1);
}


.hidden{
    display: none;
}
.show{
   display: inline;
    animation: pop-up .6s 1;
}

object{
    transform: scale(1);
    transition: all .4s;
    position: absolute;
    width: 180px;
    height: 200px;
    background-color: #F54238;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 20;
}
object:hover{
    transition: all .4s;
    transform: scale(1.2);
    z-index: 11;
}


/*figure out a way to control the animation delay from the column to make them pop up at different times*/


project{
    width: 180px;
    height: 200px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

@keyframes pop-up {
    0%{ transform: scale(0)}
    80%{ transform: scale(1.1)}
    100%{ transform: scale(1);}
}




/*figure out where this site breaks after fixing the responsive columns and rows.*/
@media screen and (min-width: 1400px) {

    header{
        margin-left: -500px;
        width: 1000px;
    }
}
@media screen and (max-width: 1000px) {

    
}
@media screen and (max-width: 990px) {

    
}















/*
font-family: 'Exo 2', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Geosans Light', sans-serif;
font-family: 'Bitter', serif;


red
#F54238
darker red
#D53531